<div class="card-content">
	<%= simple_form_for Article.new, url: get_article_path, method: 'get', remote: true do |f| %>
	<%= f.input :url, as: :text, label: 'Share an article by link', input_html: {:id => 'crawler-box'} %>
	<%= f.submit 'Get' , :class => "button is-success" %>
	<% end %>
	<br />
	<div id="new"></div>
</div>
