<h1>Fashion Deals</h1>
<p>Browse the latest deals and discounts on clothing, shoes and accessories.</p>

<div class="cards">
	<% @deals.each do |deal| %>
		<%= render :partial => '/deals/deal_card', :locals => {:deal => deal} %>
	<% end %>
</div>

<%= paginate @deals, window: 2 %>



<script>
	$(document).ready(function() {
		$(".more-click").click(function() {
			var link = $(this);
			$(".message").toggle("fast", function() {
				if ($(this).is(':visible')) {
					link.text('Show Less');
				} else {
					link.text('Show More');
				}
			});
		})
	})

</script>