<% if @gender.present? %>
<h1>Fashion Deals: <%= @gender.name.capitalize %></h1>
	<p><%= @gender.description %></p>
<% else %>
<h1>Fashion Deals:</h1>
<p>Browse the latest deals and discounts on clothing, shoes and accessories.</p>
<% end %>

<div class="cards">
	<% @deals.each do |deal| %>
		<%= render :partial => '/deals/deal_card', :locals => {:deal => deal} %>
	<% end %>
</div>





<script>
	$(document).ready(function() {
		$(".more-click").click(function() {
			var link = $(this);
			$(".message").toggle("fast", function() {
				if ($(this).is(':visible')) {
					link.text('Show Less');
				} else {
					link.text('Show More');
				}
			});
		});
    $('.deal_image').error(function() {
      $(this).attr('src', '/assets/deal_image_holder.png');
    });
	});

</script>