// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fashsteal-blue: #052F6D;

$fashsteal-pink: #052F6D;

.card-image {
  overflow: hidden;
}

#deal-card-image img {
  height: auto;
}

.card-header-title {
  position: absolute;
  top: 30%;
}

.cta-layer {
  position: absolute;
  top: 50%;
  z-index: 2;
  height: 50%;
  width: 100%;
  display: inline-block;
}

.cta-button {
  margin: auto;
  width: auto;
  max-width: 200px;
}

.expired-card-image img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}


.expired-card-image {
  max-height: 200px;
  overflow: hidden;
  background-color: $fashsteal-pink;
}

.card-expired-cta {
  height: 50px;
}

.deal-logo {
  position: absolute;
  left: 11px;
  top: 11px;
  z-index: 1;
  width: 75px;
  height: 75px;
}

.deal-logo img {
  border-radius: 0 0 0 0;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: -1;
}

.more-click {
  text-align: center;
  font-weight: bold;
}

.message {
  display: none;
}

.highlight {
	background-color: #133D8D;
	color: white;
}

.card-title {
  font-size: 22px;
}

table.multiple-edit td {
  vertical-align: top;
}

