// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cards {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
    &:after {
  	content: "";
  	flex-basis: 15em;
  	flex-grow: 1;
  }
}

.card {
  $base-border-color: gainsboro !default;
  $card-border-radius: 5px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 0px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 5px;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F69D9A;

  background-color: $card-background;
  border: $card-border;
  border-radius: $card-border-radius;
  /*box-shadow: 2px 2px 5px darken($base-background-color, 30%);*/
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
/*  width: calc(100% * (1/4) - $card-margin - 1px);*/

  .card-image {
    background-color: $card-image-hover-color;
/*    height: 250px;*/
    max-height: 450px;
    overflow: hidden;
    @include border-top-radius($card-border-radius);

	.deal-logo {
		position: absolute;
	    left: 0px;
	    top: 0px;
	    z-index: 1;
	    width: 75px;
	    height: 75px;

	}

    img {
      @include border-top-radius($card-border-radius);
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 100%;
      z-index: -1;
    }
  }

  .card-header {
  	position: absolute;
  	left: 0px;
  	top: 40%;
    background-color: transparent;
/*    border-bottom: $card-border;*/
    border-radius: $card-border-radius $card-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
    max-width: 90%
  }

/*  @media screen and (min-width: 560px) {
	.card-header {
		top: 45%;
		}
	}*/

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }
  
  .card-copy-cta {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    color: white;
    text-align: center;

    p {
      margin: 0 0 ($base-spacing / 2);
      @include border-top-radius($card-border-radius);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
      @include border-top-radius($card-border-radius);
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }

  .card-inner {
    margin: 0px 10px;
    border: 0.1px solid #b3b3b3;
    border-radius: $card-border-radius;
  }
}

.highlight {
	font-size: 22px;
	background-color: #133D8D;
	color: white;
}

table.multiple-edit td {
  vertical-align: top;
}