
$medium-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 650px,
);

$large-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 1000px,
  );

html {
  height: 100%;
}

body {
/*	background-color: #F0F0F0;*/
  height: 100%;
  margin: 0px;
}

/*pink #F69D9A,rgba(246, 157, 154, 0.8) , blue #052F6D rgba(5, 47, 109, 0.8) 100%) */

.grad {
  background: rgba(246, 157, 154, 0.6); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(246, 157, 154, 0.6) 30%, rgba(5, 47, 109, 0.8) 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right bottom, rgba(246, 157, 154, 0.6) 30%, rgba(5, 47, 109, 0.8) 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right bottom, rgba(246, 157, 154, 0.6) 30%, rgba(5, 47, 109, 0.8) 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right bottom, rgba(246, 157, 154, 0.6) 30%, rgba(5, 47, 109, 0.8) 100%); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pink {
  background: #F69D9A;
}

.blue {
  background: #052F6D;
}

.yellow {
  background-color: #F7D08A;
}

.white-transparent {
  background-color: rgba(255, 255, 255, 0.3);
}

img {
  display: block;
}

a {
	color: black;
}

td {
  word-wrap: break-word;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 85px auto -300px;

  @include grid-media($large-neat-grid) {
    margin-bottom: -155px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.container:after {
  content: "";
  display: block;
}

.footer, .container:after {
  /*$large-screen: (media: 700px);*/
  height: 300px;

  @include grid-media($large-neat-grid) {
    height: 185px;
    width: 100%;
  }
}

.footer {
  /*$large-screen: (media: 1000px);*/
  float: left;
  width: 100%;
  text-align: center;
  background-color: darken(#052F6D, 6%);
  color: white;

  .footer-logo {
    margin: 1em auto;


    @include grid-media($large-neat-grid) {
      margin: 1em auto;;
    }

    img {
      height: 2.2em;
      margin: auto;
    } 
  }

  a {
    color: white;
  }

  ul {
    margin: 0;
    padding-left: 0;
    color: white;

    @include grid-media($large-neat-grid) {
      float: left;
      padding-top: 0.3em;
      width: 100%;
    }

    li {
      line-height: 1.5em;
      padding-right: 1em;
      color: white;

      @include grid-media($large-neat-grid) {
        display: inline;
        text-align: left;
      }
    }
  }
}


/*Navbar*/

.centered-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: rgba(255, 255, 255, 0.3);
  $centered-navigation-color: white; /*transparentize($base-font-color, 0.3)*/
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 0;
  $horizontal-bar-mode: $large-screen;

  border-bottom: 2px solid darken($centered-navigation-background, 6%);
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;
  margin-bottom: 25px;

  
/*// Mobile view*/

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      padding: 0.8em 0;
    }

    @media(min-width: $horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-decoration: none;
    text-transform: uppercase;

    @media(min-width: $horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  
/*// Nav menu*/

  .centered-navigation-wrapper {
    @include grid-container;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    -webkit-transform-style: preserve-3d; 

/*// stop webkit flicker*/
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @media(min-width: $horizontal-bar-mode) {
      display: block;
      /*text-align: center;*/
    }
  }

  
/*// The nav items*/

  .nav-link:first-child {
    @media(min-width: $horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    @include grid-column(2);
    /*background: $centered-navigation-background;*/
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: center;
    z-index: 9999;

    a {
      color: $centered-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $centered-navigation-color-hover;
      }
    }

    @media(min-width: $horizontal-bar-mode) {
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    @media(min-width: $horizontal-bar-mode) {
      @include grid-column(2);
      display: inline;
    }
  }

  li.signin.nav-link {
    @media(min-width: $horizontal-bar-mode) {
      @include grid-shift(4);
    }
  }

  li.join.nav-link {
    @media(min-width: $horizontal-bar-mode) {
      @include grid-shift(1);
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
  }

  
/*// Sub menus*/

  li.more.nav-link {
    padding-right: 0;

    @media(min-width: $large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

/*    > a::after {
      @include position(absolute, auto -0.4em auto auto);
      color: $centered-navigation-color;
      content: "\25B4";
    }*/
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @media(min-width: $large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

/*      &::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }*/
    }

    &:hover > .submenu,
    &:focus > .submenu {
      display: block;
    }

/*    &:hover > a::after, 
    &:focus > a::after {
      color: $centered-navigation-color-hover;
    }*/

 /*   &:hover > a::after,*/
 /*   &:focus > a::after {
      content: "\25BE";
    }*/

    @media(min-width: $horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @media(min-width: $horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      /*position: absolute;*/
      top: $centered-navigation-height/1.55;
    }

    .submenu.fly-out-right {
      @media(min-width: $horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    .submenu.fly-out-left {
      @media(min-width: $horizontal-bar-mode) {
        left: -$centered-navigation-submenu-width + 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @media(min-width: $horizontal-bar-mode) {
        line-height: $centered-navigation-height / 2;

        &:first-child > a {
         /* border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;*/
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        /*background-color: $centered-navigation-background;*/
        display: inline-block;
        text-align: right;
        text-decoration: none;
        width: 100%;

        @media(min-width: $horizontal-bar-mode) {
          /*background-color: $centered-navigation-background;*/
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

.feed {
  margin: auto 0px auto 0px;
  width: 100%;
  min-width: 320px;

  @include grid-media($medium-neat-grid) {
    @include grid-shift(3);
    @include grid-column(6);
  }
  @include grid-media($large-neat-grid) {
    @include grid-shift(4);
    @include grid-column(4);
  }
}


.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: (media: 700px);
  $large-screen: (media: 1000px);
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
    padding: 0.8em 1em;
  }

  .modal-fade-screen { // overlay
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999999999;

    @include grid-media($large-screen) {
      padding-top: 10em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &::after,
    &::before {
      @include position(absolute, 3px 3px 0 50%);
      @include size(1em);
      background: $modal-close-color;
      content: "";
      display: block;
      margin: -3px 0 0 -1px;
      transform: rotate(45deg);
    }

    &:hover::after,
    &:hover::before {
      background: darken($modal-close-color, 10%);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  .modal-inner {
    background: $modal-background;
    border-radius: $base-border-radius;
    margin: auto;
    margin-top: 0;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    transition: opacity 0.25s ease;
    width: 95%;

    @include grid-media($medium-screen) {
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include grid-media($large-screen) {
      width: 50%;
    }

    h1 {
      color: $base-font-color;
      text-align: left;
      text-transform: capitalize;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    .modal-intro {
      margin-bottom: 1em;
    }

    .modal-content {
      color: $base-font-color;

      @include grid-media($medium-screen) {
        @include grid-column(2);
      }
    }

    a.cta {
      color: $base-background-color;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}

.menu-image {
  height: 25px;
}

.more-click {
  text-align: center;
}

.message {
  display: none;
}
