
$medium-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 650px,
);

$large-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 1000px,
  );

$base-spacing: 5px;

$fashsteal-blue: #052F6D;

$fashsteal-pink: #F69D9A;

$fashstea-gray: #E2DCDE;

html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background-color: $fashstea-gray;
  margin: 0px;
}

.btn {
  margin-left: 5px;
  margin-bottom: 15px;
  color: white;
}

/*pink #F69D9A,rgba(246, 157, 154, 0.8) , blue #052F6D rgba(5, 47, 109, 0.8) 100%) */

.grad {
  background: rgba(246, 157, 154, 1); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(246, 157, 154, 1) 10%, rgba(5, 47, 109, 1) 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right bottom, rgba(246, 157, 154, 1) 10%, rgba(5, 47, 109, 1) 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right bottom, rgba(246, 157, 154, 1) 10%, rgba(5, 47, 109, 1) 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right bottom, rgba(246, 157, 154, 1) 10%, rgba(5, 47, 109, 1) 100%); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.is-blue {
  background-color: #052F6D !important;
}

.is-pink {
  background-color: #F69D9A !important;
}

.is-peach-yellow {
  background-color: #FCDFA6 !important;
}

.is-medium-spring-bud {
  background-color: #CBE896 !important;
}

.is-pink-outline:hover {
  box-shadow: 0 0 0.5em rgb(246, 157, 154);
  color: #052F6D;
}

.is-pink-outline {
  color: #F69D9A !important;
  background-color: transparent !important;
  border-color: #F69D9A !important;
  border-width: 4px !important;
}

.is-yellow {
  background-color: #F7D08A !important;
}

.white-transparent {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.is-transparent {
  background-color: rgba(226, 220, 222, 0.1) !important; 
}

img {
  display: block;
}

img.social-icon {
  margin-left: 5px;
  display: inline-block;
  width: 25px;
}

a {
	color: black;
}

td {
  word-wrap: break-word;
}

.logo img, .mobile-logo img {
  height: 3rem;
  max-width: auto;
}

.nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  font-family: 'Delius Unicase', cursive;
}

#fashsteal-nav a {
  color: black;
  font-weight: bold;
}

#fashsteal-nav a:hover {
  color: white;
}

.dropdown {
  box-shadow: 0 0 8px #777;
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1000;
  background-color: white;
}

.dropdown.is-open {
  display: block;
}

.body-container {
  min-height: 100%;
  height: auto !important;
  margin-top: 5rem;
  margin-bottom: -300px;
  display: block;
}

.body-container:after {
  content: "";
  display: block;
  height: 300px;
}

.hero {
  font-family: 'Indie Flower', cursive;
}

.hero-body .subtitle {
  font-size: 1.5rem !important;
}

/*.footer, .container:after {
  height: 300px;
}*/

.footer {
  background-color: $fashsteal-blue !important;
  height: 300px;
  padding: 3rem 1.5rem !important;
}

.footer img {
  height: 2.2em;
  margin: auto;
}

.footer .sticky {
  position: fixed;
  height: 300px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.center {
  text-align: center;
}

.modal {
  overflow-y: auto !important;
}

.modal-content {
  background-color: white;
  padding: 10px 20px;
  overflow-y: auto !important;
}