// Place all the styles related to the retailers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.retailer-row {
	border-radius: 5px;
}

/*.retailer-logo {
	height: 50px;
	margin-left: 0px;
}

.retailer-body {
	height: 75px;
}

.retailer-logo img {
	margin: 0 auto 15px;
	display: block;
}*/

.retailer-banner {
	text-align: center;
}

.retailer-banner img {
	margin: auto;
	max-height: 150px;
}

.retailer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.retailer-card {
	margin: 0 5px;
}

.retailer-space {
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
}