// Place all the styles related to the retailers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$custom-neat-grid: (
	column: 12,
	gutter: 20px,
	media: 800px,
);

#main {

}

.retailer-row {
	margin-bottom: 10px;
	padding-top: 15px;
	border-radius: 5px;

}

.retailer-logo {
	min-height: 75px;
	margin-left: 0px;
}

.retailer-body {
	min-height: 75px;
}

.retailer-logo img {
	margin: 0 auto 15px;
}

.retailer-banner {
	text-align: center;
}

.retailer-banner img {
	margin: auto;
	max-height: 150px;
}

.retailer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.retailer-card {
	margin: 0 5px;
}

.retailer-space {
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
}