<div class="footer-logo">
    <%= link_to image_tag("Fash-logomark.png", alt: "logo image"), root_path, class: "mobile-logo" %>
</div>
<ul>
  <li><a href="javascript:void(0)">About</a></li>
    <p>Looking for Fashion? We've got the steals. Browser the latest fashion deals and discounts</p>
  <li><a href="javascript:void(0)">Contact</a></li>
  <li><a href="javascript:void(0)">Terms & Conditions</a></li>
  <li><a href="javascript:void(0)">Privacy Policy</a></li>
  <% if current_user.admin? %>
  <li ><%= link_to 'Admin', admin_deals_path %></li>
  <% end %>
</ul>