<div class="centered-navigation-wrapper">

  <%= link_to image_tag("Fash-logomark.png", alt: "logo image"), root_path, class: "mobile-logo" %>
  <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>

  <nav role="navigation">
    <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
      <li class="nav-link logo">
          <%= link_to image_tag("Fash-white-transp.png", alt: "logo image"), root_path, class: "logo" %>
      </li>

      <% @genders.each do |gender| %>
        <li id="js-centered-more" class="nav-link more"><%= link_to gender.name.capitalize, deals_path(gender: gender.name) %> 
        </li>
      <% end %>

      <li id="js-centered-more" class="nav-link more"><a href="javascript:void(0)">Shops</a>
        <ul class="submenu">
          <% @retailer_categories.each do |category| %>
          <li><%= link_to category.name, retailers_path(category: category.name) %></li>
          <% end %>
        </ul>
      </li>

    </ul>
  </nav>

</div>