
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        Come for the fashion deals and check out the latest style advice. <strong>FashSteals.com</strong> is your fashion source. Here you will find deals and discounts on the latest clothing, accessories, cosmetics and skincare products at the hottest brands.
      </h2>
    </div>
  </div>
