
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        FashSteals.com
      </h1>
      <h2 class="subtitle">
        Come for the fashion deals and check out the latest style advice. FashSteals is your fashion source. All about fashion...advice, deals, discounts.
      </h2>
    </div>
  </div>
